@tailwind base;
@tailwind components;
@tailwind utilities;

/* RESET */

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h1,
h2 {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  display: block;
}

/* ////////// */
/* BACKGROUND */

body {
  background-image: url("../public/bg.svg");
  background-size: 240px;
  background-color: #14213D;
}

/* ////////// */